[submodule "strong_sort/deep/reid"]
	path = strong_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
[submodule "yolov7"]
	path = yolov7
	url = https://github.com/mikel-brostrom/yolov7
[submodule "yolov7hand"]
	path = yolov7hand
	url = https://github.com/Gaozhongpai/yolov7.git
